# Renomeie este arquivo para .env e coloque suas credenciais do Mercado Pago aqui
MERCADOPAGO_ACCESS_TOKEN=APP_USR-123456789-xxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MERCADOPAGO_PUBLIC_KEY=APP_USR-123456789-xxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=3000
